html, body {
  height: 100%;
}



h1{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-decoration: underline;
}

h1 a{
  color: #2c3e50;
}


form {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 3rem;
}

form a {
  float: right;
  
}

#submit {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 3rem;
  margin-top: 15px;
}

.image_carrousel{
  width: 100%;
  max-height: 600px;
  margin-top: 20px;
}

.image_banner {
  width: 100%;
  max-height: 400px;
}

img{
  width: 50%;
  
}
.card-img-top{
  margin-top: 0;
  max-height: 280px;
}

#create_event {
  font-size: 3rem;
}

#profil{
  display: flex;
  justify-content: space-around;
}

#profil img{
  flex-grow: 2;
}

.card_comment{
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  display:flex;
  justify-content: space-between;
}

#copyright{
  font-size: 1.2rem;
  font-weight: bold;
}